@import './reset.css';


:root {
  --app-background: #FFD580;
  --title-color: #3B7080;

  --button-color: #FF6663;
  --button-hover: #e65c59; /* 10% of original */
  --button-shadow: #803332; /* 50% of original */
  --button-active: #cc524f; /* 20% of original */
  
  --button-text: white;
  --border-color: #FF6663;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--app-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}


/* source : https://fonts.google.com/specimen/Montserrat */

@font-face {
  font-family: 'Montserrat';
  src: url('./../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
